<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd"
	default-lazy-init="true">

	<bean id="permission" class="com.shitao.sys.filter.PermissionFilter"/>
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login"></property>
		<property name="successUrl" value="/index"></property>
		<property name="unauthorizedUrl" value="/403.jsp"></property>
		<property name="filters">
			<util:map>
				<entry key="authc" value-ref="formAuthenticationFilter"></entry>
				<entry key="permission" value-ref="permission"></entry>
			</util:map>
		</property>
		<!-- 过滤链，anon表示可以匿名访问，authc表示需要验证 -->
		<property name="filterChainDefinitions">
			<value>
				/ = anon
				/static/** = anon
				/login=authc
				/logout=logout
				/registe = anon
				/sys/user/register = anon
				/** = authc,permission
				<!-- perms[SECURITY_ACCOUNT_VIEW] 表示用户需要提供值为“SECURITY_ACCOUNT_VIEW”Permission 
					信息。 /security/account/view.do=autho,perms[SECURITY_ACCOUNT_VIEW] /**=authc -->
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="systemShiroRealm"></property>
		<property name="sessionManager" ref="shiroSessionManager"></property>
	</bean>

	<!-- 自定义的登录管理 -->
	<bean id="systemShiroRealm" class="com.shitao.sys.security.SystemShiroRealm"></bean>

	<bean id="formAuthenticationFilter"
		class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
	</bean>

	<!-- shiroSession管理,暂时使用默认的管理，会话时长3分钟 -->
	<bean id="shiroSessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<!-- 单位为毫秒 -->
		<property name="globalSessionTimeout" value="1800000"></property>
		
		<!-- 定时清理失效会话   -->
		<property name="sessionValidationInterval" value="120000"/>
		
 		<property name="sessionValidationSchedulerEnabled" value="true"/>
 		
		<property name="sessionIdCookie" ref="sessionIdCookie"/>
		<property name="sessionIdCookieEnabled" value="true"/>
	</bean>
	
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg name="name" value="shitao.session.id"/>
	</bean>
</beans>